# Always ignore files with these extensions
*.ai
*.zip
*.rar
*.tgz
*.psd
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.scssc
*.mp4
*.komodoproject
*.kpf
*.fla

# Always ignore OS or Editor folders
.DS_Store
Thumbs.db
.idea
.master

# Ignore folders
avatarji
bannerji
banners/IPnumbers
banners/images
design
docs
doljemi
pasice
priznanja
razstava
small_banners/IPnumbers
small_banners/images
temp
znalci

# Always ignore config files, icons, etc.
apple-touch-icon.png
config.php
favicon.ico
phpinfo.php
